/* ------------------------------------------------------------ all ------------------------------------------------------------ */
*
{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* techno font */
@font-face {
  font-family: TechnoBoard;
  src: url(./assets/TechnoBoard.ttf);
}

/* hide element */
.OutOfView
{
  opacity: 0;
}

/* hide scrollbar for chrome, edge, safari */
body::-webkit-scrollbar
{
  display: none;
}

/* hide scrollbar for firefox */
html
{
  scrollbar-width: none;
}

/* animations */
@keyframes hiding
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 0;
  }
}

@keyframes fade-in
{
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-down
{
  from {
    transform: translateY(-80%);
    opacity: 0;
    filter: blur(5px);
  }
  to {
    filter: blur(0);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-up
{
  from {
    transform: translateY(80%);
    opacity: 0;
    filter: blur(5px);
  }
  to {
    filter: blur(0);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-left
{
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-80%);
  }
  to {
    filter: blur(0);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-left-small
{
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20%);
  }
  to {
    filter: blur(0);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right
{
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(80%);
  }
  to {
    filter: blur(0);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right-small
{
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(20%);
  }
  to {
    filter: blur(0);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes glow
{
  0%
  {
    text-shadow: none;
  }

  100%
  {
    text-shadow:
    0 0 4px black,
    0 0 11px black,
    0 0 20px darkred,
    0 0 40px darkred,
    0 0 60px darkred,
    0 0 80px darkred;
  }
}

@keyframes bounce
{
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-2vh);
  }

  60% {
    transform: translateY(-1vh);
  }
}

@keyframes shaking
{
  0% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg)
  }
}

@keyframes fliping
{
  0%,
  30%
  {
    transform: rotateY(0);
  }
  30%,
  80%
  {
    transform: rotateY(180deg);
  }
  80%,
  100%
  {
    transform: rotateY(0);
  }
}

@keyframes spin
{
  0%,
  30%
  {
    transform: rotate(0);
  }
  30%,
  80%
  {
    transform: rotate(360deg);
  }
  80%,
  100%
  {
    transform: rotate(0);
  }
}

@keyframes beat
{
  0%,
  30%
  {
    transform: scale(1);
    opacity: 100%;
  }
  30%,
  80%
  {
    transform: scale(1.2);
    opacity: 40%;
  }
  80%,
  100%
  {
    transform: scale(1);
    opacity: 100%;
  }
}

/* ------------------------------------------------------------ navbar ------------------------------------------------------------ */
header nav
{
  display: flex;
  justify-content: space-evenly;
  min-height: 6vh;
  width: 100%;
}

/* move links above background */
header nav .nav-link
{
  display: flex;
  align-items: center;
  z-index: 1;
}

/* change link red when hovered */
header nav .nav-link:hover
{
  color: red;
}

header nav a
{
  color: white;
  text-decoration: none;
  font-size: calc(1.5vw + 1.5vh);
}

/* add border for active link */
header nav a.active
{
  border-bottom: calc(0.15vw + 0.15vh) solid red;
}

.animateNav
{
  animation-duration: 1s;
  animation-name: slide-down;
}

/* ------------------------------------------------------------ main page ------------------------------------------------------------ */
.Main
{
  position: absolute;
  top: 0;
}

.Main .content
{
  height: 100vh;
}

/* move backgound behind elements */
.Main .content video
{
  position: fixed;
  z-index: -1;
  filter: brightness(15%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Main .content .center
{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Main .content .center .title
{
  font-size: calc(2vw + 1.5vh);
}

.animateTitle
{
  animation-duration: 3s;
  animation-name: slide-left;
}

.Main .content .center .name
{
  font-size: calc(6vw + 6vh);
  font-family: TechnoBoard;
  color: red;
  animation: glow 1.5s ease-out infinite alternate-reverse;
}

.Main .content .center .subtitle
{
  font-size: calc(1.5vw + 1.5vh);
}

.animateSubtitle
{
  animation-duration: 3s;
  animation-name: slide-right;
}

.Main .content .expand
{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Main .content .expand .icon
{
  color: red;
  font-size: calc(3vw + 5vh);
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

.Main .AboutCard
{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.animateAbout
{
  animation-duration: 1.5s;
  animation-name: slide-left-small;
}

.Main .AboutCard .top
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  align-items: center;
  font-size: calc(5vw + 3vh);
  font-weight: 600;
}

.Main .AboutCard .center
{
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: calc(1vw + 1vh);
}

.Main .AboutCard .center .aboutContent
{
  height: 80%;
  display: flex;
  margin-inline: 10vw;
  justify-content: space-between;
  align-items: center;
}

.Main .AboutCard .center .aboutContent .imageList
{
  width: 50%;
  height: 100%;
}

.Main .AboutCard .center .aboutContent p
{
  width: 45%;
}

/* ------------------------------------------------------------ resume page ------------------------------------------------------------ */
.Resume
{
  position: absolute;
  top: 0;
  height: 100vh;
}

.Resume .content
{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Resume .content video
{
  position: fixed;
  z-index: -1;
  filter: brightness(50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Resume .content .center
{
  height: 90%;
  width: 100vw;
}

.Resume .content .center img
{
  height: 98%;
  width: 100%;
  object-fit: contain;
}

.animateResume
{
  animation-duration: 2s;
  animation-name: fade-in;
}

/* ------------------------------------------------------------ contact page ------------------------------------------------------------ */
.Contact
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.Contact .content
{
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Contact .content video
{
  position: fixed;
  z-index: -1;
  filter: brightness(50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Contact .content .center .icon
{
  font-size:  calc(6vw + 2vh);
  color: red;
}

.Contact .content .center .icon:hover
{
  color: white;
}

.mailButton
{
  animation: hiding 0.5s forwards, slide-down 2s 0.5s forwards, bounce 1.25s 2.5s infinite;
}

.phoneButton
{
  animation: hiding 1.5s forwards, slide-up 2s 1.5s forwards, shaking 1.5s 3.5s infinite ease-in-out;
}

.linkedinButton
{
  animation: hiding 2.5s forwards, slide-down 2s 2.5s forwards, fliping 3.5s 4.5s infinite ease-in-out;
}

.githubButton
{
  animation: hiding 3.5s forwards, slide-up 2s 3.5s forwards, spin 4s 5.5s infinite ease-in-out;
}

.instagramButton
{
  animation: hiding 4.5s forwards, slide-down 2s 4.5s forwards, beat 4.5s 6.5s infinite ease-in-out;
}

/* ------------------------------------------------------------ error page ------------------------------------------------------------ */
.NotFound
{
  position: absolute;
  top: 0;
  width: 100%;
}

.NotFound .content
{
  display: flex;
}

.NotFound .content video
{
  filter: brightness(30%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.NotFound .content .center
{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.NotFound .content .center .code
{
  font-size: calc(6vw + 6vh);
}

.NotFound .content .center .title
{
  font-size: calc(6vw + 6vh);
  font-family: TechnoBoard;
  color: red;
  animation: glow 1.5s ease-out infinite alternate-reverse;
}

.NotFound .content .center .subtitle
{
  font-size: calc(1.5vw + 1.5vh);
}